*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
}
.menu{
    margin: 0;
    background-color: rgb(252, 71, 16);
    position: relative;
    display: flex;
    justify-content: center;
    }
    li{
        height: 50px;
        background-color: rgb(252, 71, 16);
    }
    li a{
        display: block;
        padding: 14px 40px;
        color: #fff;
        text-align: center;
        text-decoration: none;
    }
    li a:hover{
        border-bottom: 3px solid rgb(255, 255, 255);
    }
    .menu, ul{
      list-style: none;
      padding-left: 0;
    }
    .menu ul{
        display: none;
    }
    .menu ul li{
        margin-left: -25px;
    }
    .menu li:hover ul{
        position: absolute;
        top: 50px;
        display: block;
    }

    .wrap{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   #form-wrap{
       position: relative;
       padding: 50px;
       display: none;
       width: 400px;
       height: 300px;
       background-color: rgb(200 145 63);
   } 
   #form-wrap:target {
    display: block;
}
#form-wrap a::after{
    right: 10px;
    top: 10px;
    position: absolute;
    color: white;
    content: "X";
    cursor: pointer;
}
#form-wrap a::before{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    content: "";
    cursor: default;
}
.text , .password{
    background-color: rgb(200 145 63);
    width: 100%;
    margin-bottom: 20px;
    border-style: none;
    outline-style: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.password::-webkit-input-placeholder{
    color: #fff; 
}
.text::-webkit-input-placeholder{
    color: #fff; 
}
.form-btn{
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 18px;
}
label{
    color: #fff;
}
#remember{
    display: none;
}
label::before{
    content: "";
}
#remember:checked + label::before{
    margin-right: 5px;
    content: "✅";
}
form{
    position: relative;
}