*{
    margin: 0;
    box-sizing: border-box;
}
.menu_items{
    max-width: 1200px;
    margin: 0 auto;
}
.menu_item{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}
.menu_item a{
    display: block;
    padding: 10px 40px;
    color: rgb(86, 4, 163);
    text-decoration: none;
}
.menu_item li{
    width: 100%;
    text-align: center;
}
.menu_item li:hover{
    background-color: rgb(206, 104, 209);
}

.horizontal{
    flex-direction: column;
}


/* Задача-2 */
ul{
    list-style-type: none;
    padding-left: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: bisque;
}
.menu{
    margin: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 992px) {
    .menu{
        display: block;
        padding-top: 10px;
    }
    .menu ul li:first-child {
        margin-right: auto;
      }
    .input-decst{
        display: none;
    }
}
@media (max-width: 539px) {
    .menu ul li:nth-child(1){
        width: 100%;
        background-color: orangered;
        text-align: center;

    }
    .menu ul li:nth-child(2){
        display: none;
    }
    .menu ul li:nth-child(3){
        display: none;
    }
    .menu ul li:nth-child(4){
        display: none;
    }
}
.input-mobile{
display: none;
}

@media (max-width: 992px) {
    .input-mobile{
        display: block;
        margin-left: auto;
        }
}
.menu ul{
    display: flex;
    margin-top: 10px;
}
.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.menu li{
padding: 10px 20px;
}
.wrap{
    padding: 20px 0;
    display: flex;
}
@media (max-width: 992px) {
    .wrap{
        display: flex;
        flex-direction: column;
    }
}
.main{
    width: 20%;
}
@media (max-width: 992px) {
    .main{
        width: 100%;
        padding: 0 20px;
    }
}
.main-nav >li{
    display: none;
}
@media (max-width: 539px) {
    .main-nav >li{
        display: block;
    }
}
@media (max-width: 992px) {
    ul>ul{
        display: flex;
        justify-content: space-between;
    }
}
ul>ul{
    width: 100%;
}
@media (max-width: 539px) {
    .main-nav {
        flex-direction: column;
    }
    ul>ul{
        flex-direction: column;
        display: none;
    }
    ul>ul:target{
        display: block;
    }
    .input-mobile{
        display: none;
    }
}


.main ul{
    text-align: center;
}

.main a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.main li{
    margin-bottom: 30px;
}
.item-wrap{
    padding: 5px;
}
.items{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
@media (max-width: 992px) {
    .items{
        width: 100%;
        padding: 0 20px;
    }
}
.item-1{
    padding: 10px;
    height: 100%;
    background-color: orangered;
    display: flex;
    flex-direction: column;
}
.item-1 img{
    width: 95%;
    margin: 0 auto;
}
.item-1 h3{
    margin: 15px 0;
}
.text, .sail{
    margin: 5px 0;
}
.sail{
    margin-top: auto;
}
.footer{
    background-color: orangered;
    height: 100px;
}
